header 
{
    display: grid;
    grid-template-columns: 175px 1fr;
    background-color: black;
    height: 5em;
}

header img 
{
    width: 100%;
}

header h1 
{
    text-align: center;
    color: #20C20E;
}

body > section:first-of-type 
{
    display: grid;
    grid-template-columns: 175px 1fr;
}

section > section
{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
}

h2
{
    text-align: center;
}

article
{
    padding: 2em;
}

nav 
{
    background-color: black;
    display: flex;
}

nav ul 
{
    list-style-type: none;
}

nav a
{
    color: #20C20E;
}

footer
{
    background-color: firebrick;
}